body {
	padding-top: 80px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px !important;
    height: 60px !important;
    padding-top: 0 !important;
}

.form-group {
    margin: 4px 0 !important;
}

.form-control {
    height: 30px !important;
    margin: 3px 0 !important;
    padding: 4px 8px !important;
    border-radius: 2px !important;
}

.glyphicon {
    font-size: 18px !important;
}

label {
    font-size: 14px !important;
    font-weight: 300 !important;
}

@media (max-width: 1199px) {
    .genderBorder {
        border-bottom: 1px solid #58697a;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .femaleBlockBorder {
        border-right: 1px solid #58697a;
    }
}

@media (min-width: 1200px) {
    .femaleBlockBorder {
        border-bottom: 1px solid #58697a;
    }

    .genderBorder {
        border-right: 1px solid #58697a;
    }
}

@media (max-width: 767px) {
    .container {
        margin: 0 30px;
    }
}

.genderContainer {
    display: table;
    height: 42px;
}

.districtContainer {
    height: 88px;
    border: 1px solid #58697a;
    border-radius: 2px;
    display: table;
}

.verticalAlignName {
    display: table-cell;
    vertical-align: middle;
}

.mainBtn {
    width: 32%;
}

.mainButtonMargin {
    margin-left: calc(2% - 3px);
}

.ageInput {
    width: 80px !important;
}

.floatNone {
    float: none !important;
}